@{
    Layout = "MainLayout.cshtml";
}

<!-- <div class="userContainer container mt-2">
        <form class="form-inline" onsubmit="sendMessage(event)" id="messageForm">
            <div class="form-group">
                <label for="usernameInput" class="mr-2">Username</label>
                <input type="text" id="usernameInput" placeholder="" class="form-control mr-5" required>

                <label for="usernameInput" class="mr-2">Say something...</label>
                <input type="text" id="messageInput" placeholder="" class="form-control mr-5" required>

                <button type="submit" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>

    <div class="chat-box container">
       <ul id="messages"></ul>
    </div> -->
<section class="navigation">
    <img src="../img/318115456_1239779093244555_2809301419647538659_n.jpg" class="mb-5">
    <i class="fa-solid fa-house mb-4 mt-2"></i>
    <i class="fa-solid fa-message mt-2"></i>
</section>
<main class="main_content d-flex">
    <div class="left-chat">
        <div class="user-navigation d-flex mt-3">
            <h4 class="ml-3">Username</h4>
            <div class="dropdown ml-2">
                <i class="fa-solid fa-angle-down dropdown-icon" onclick="toggleDropdown()"></i>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">My Profile</a>
                    <a href="#">Log out</a>
                </div>
            </div>
        </div>
        <a href="#" class="message-link">
            <div class="container d-flex mt-5 ml-1">
                <div class="">
                    <img src="https://cdn.pixabay.com/photo/2015/10/16/19/18/balloon-991680_1280.jpg" alt="avatar" class="avatar rounded-circle">
                </div>
                <div class="message-content">
                    <h5 class="message-author">Username</h5>
                    <p class="card-text">Message</p>
                </div>
            </div>
        </a>
    </div>
    <div class="vertical-line"></div>
    <div class="right-chat">
    </div>
</main>