@{
    Layout = "MainLayout.cshtml";
    var sender_username = Context.Session.GetString("Username");
}

@model TblUser
<section class="navigation">
    <i class="fa-solid fa-message mb-5"></i>
    <i class="fa-solid fa-house mb-4 mt-2"></i>
    <i class="fa-solid fa-message mt-2"></i>
</section>

<main class="main-content d-flex">
    <div class="left-chat">
        <div class="user-navigation d-flex mt-3">
            <h4 class="ml-3">@ViewBag.Username</h4>
            <div class="dropdown ml-2">
                <i class="fa-solid fa-angle-down dropdown-icon" onclick="toggleDropdown()"></i>
                <div class="dropdown-content" id="myDropdown">
                    <a href="#">My Profile</a>
                    <a asp-action="Login" asp-controller="Home">Log out</a>
                </div>
            </div>
        </div>
        <a href="#" class="message-link">
            <div class="container d-flex mt-5 ml-1">
                <div class="">
                    <img src="https://cdn.pixabay.com/photo/2015/10/16/19/18/balloon-991680_1280.jpg" alt="avatar" class="avatar rounded-circle">
                </div>
                <div class="message-content">
                    <h5 class="message-author">Username</h5>
                    <p class="card-text">Message</p>
                </div>
            </div>
        </a>
    </div>
    <div class="vertical-line"></div>

    <div class="right-chat">
        <section class="top-panel">
                <div class="chat-user-info d-flex col-7">
                    <img src="~/img/303295448_1730773940625295_1896005735597326763_n.jpg" class="rounded-circle mr-2">
                    <h5>Username</h5>
                </div>


                <ul class="chat-function col-3">
                    <li><i class="fa-solid fa-phone"></i></li>
                    <li><i class="fa-solid fa-video"></i></li>
                    <li><i class="fa-solid fa-circle-info"></i></li>
                </ul>
        </section>
        
        <section class="main-chat">
            <ul id="messageList"> </ul>
        </section>

        <section class="message-input">
            <form method="post" asp-action="SendMessage" class="d-flex">
                <input type="text" class="form-control mr-2" id="messageInput">
                <button type="submit" class="btn btn-primary mr-2" id="sendButton" value="sendMessage"><i class="fa-solid fa-arrow-right"></i></button>
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-heart" id="reaction-btn"></i></button>
            </form>
        </section>
    </div>
</main>

<script type="text/javascript">
    var sender_username = '@Html.Raw(Json.Serialize(sender_username))';   
</script>